/* $Id$ */

/**
 * @file
 * OpenLayers Main CSS
 *
 * This file holds the base CSS for the openlayers module
 *
 * @ingroup openlayers
 */

.openlayers-cck-feature-selected { border: 2px solid blue; }

.openlayers-map {
  z-index:0;
  position:relative;
}


/**
 * Controls
 */
.openlayers-controls {
	z-index:1000;
}

