
/**
 * @file
 * OpenLayers Admin CSS
 *
 * This file holds CSS for the openlayers ui module
 *
 * @ingroup openlayers
 */

/**
 * Map Form
 */
.openlayers-form-projection-description,
.openlayers-form-layer-description {
  font-size: smaller;
  font-style: italic;
}

#openlayers-form-proj-msg {
  display: none;
}

span.openlayers-dependency-value {
  display: none;
}

span.openlayers-dependency-broken {
  font-size: smaller;
  display: none;
  color: red;
}

/**
 * Overriding for vertical tabs
 */
div.vertical-tabs fieldset {
  border: 1px solid #CCCCCC;
  margin: 1em 0;
  padding: 2.5em 0 0;
  position: relative;
}

div.vertical-tabs .vertical-tabs-panes legend {
  display: block;
}
 
div.vertical-tabs .vertical-tabs-panes > fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

div.vertical-tabs .vertical-tabs-panes > fieldset > legend {
  display: none;
}

/**
 * Behaviors table
 */
div.vertical-tabs table tbody tr fieldset {
  font-size: .85em;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  background-color: #EEEEEE;
  position: inherit;
}

/**
 * Style previews
 */
.openlayers-ui-style-preview {
  width: 60px;
  height: 60px;
  background-color: #DDDDDD;
  border: 1px solid #222222;
}